html, body {
    height: 100%;
}

#maps-list-container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}
